<div class="selection-container size-full overflow-visible">
  <div class="relative flex size-full items-center justify-center">
    <div
      class="main-blade absolute grid grid-cols-2 grid-rows-1"
      [style.width.cqw]="(90 + determineWidth()) * 2"
      [style.height.cqh]="90"
      [style.left.cqw]="-85 - determineWidth()"
      [style.transform]="rotationToTransform(rotation())"
    >
      <div></div>
      <div class="rounded-full" [style.background-color]="rgb() | rgbify"></div>
    </div>
  </div>
</div>
