<div class="selection-container size-full overflow-visible">
  <div class="relative flex size-full items-center justify-center">
    <div
      class="main-blade absolute grid grid-cols-2 grid-rows-1"
      [style.width.cqw]="(80 + determineWidth()) * 2"
      [style.height.cqh]="80"
      [style.left.cqw]="-71 - determineWidth()"
      [style.transform]="rotationToTransform(rotation())"
    >
      <!-- Blade one -->
      <div></div>
      <!-- Blade two -->
      <div
        class="flex items-center justify-center overflow-hidden rounded-full opacity-80 bg-secondary-400"
        [style.filter]="filterString()"
        [class.size-full]="temporary()"
        [class.expand-slow]="!temporary()"
        >
        @if (temporary()) {
          <div class="temp-selection"></div>
        }
      </div>
    </div>
  </div>
</div>
