<div class="size-full md:px-4">
  <div
    class="flex grid-cols-3 grid-rows-1 flex-col gap-3 max-lg:items-stretch lg:grid"
  >
    <div class="flex items-start justify-end max-lg:order-1">
      <div class="frame p-3">
        <h1>Words to Find</h1>
        <ul>
          @for (word of currentBoard()?.findable; track $index) {
            <li>
              {{ word }}
            </li>
          }
        </ul>
      </div>
    </div>
    <shuu-wordsearch
      [searchableText]="boardCharacters()"
      [foundText]="foundWords()"
      (selectText)="findWord($event)"
      class="h-screen-no-margin w-full overflow-hidden max-lg:py-2"
    />
    <div class="max-lg:order-2"></div>
  </div>
</div>
