<div class="size-full md:px-4">
  <div
    class="flex grid-cols-3 grid-rows-1 flex-col gap-3 max-lg:items-stretch lg:grid"
  >
    <div class="flex items-start justify-end max-lg:order-1">
      <shuu-words-to-find
        [wordsToFind]="currentBoard()?.findable??[]"
        [wordsFound]="foundWords()" />
        
    </div>
    <div 
      class="transition-opacity duration-300"
      [class.opacity-0]="boardTransition()">
      <shuu-wordsearch
        [searchableText]="boardCharacters()"
        [foundText]="foundWords()"
        (selectText)="findWord($event)"
        [pending]="loadingBoard()"
        class="h-screen-no-margin w-full overflow-hidden max-lg:py-2"
      />

      @if (!loadingBoard()) {
        <div class="flex">
          @let remainingTime = timeRemaining();
          @if (remainingTime !== null) {
            @let remainingSeconds = (remainingTime | round: "floor") % 60;
            <p>
              {{ remainingTime / 60 | round: "floor" }}:{{
                remainingSeconds | number: "2.0-0"
              }}
            </p>
          }
          <div class="grow"></div>
          @let level = currentBoard()?.difficulty?.level;
          @if (level !== null) {
            <p>
              Level {{level}}
            </p>
          }
        </div>
      }

    </div>
    <div class="max-lg:order-2"></div>
  </div>
</div>
