@tailwind base
@tailwind components
@tailwind utilities

:root
    box-sizing: border-box
    /** Majority colors, like the background **/
    --color-primary-50: #eae8f6
    --color-primary-100: #d6d2ee
    --color-primary-200: #ada4dc
    --color-primary-300: #8377cb
    --color-primary-400: #5a49b9
    --color-primary-500: #311ca8
    --color-primary-600: #271686
    --color-primary-700: #1d1165
    --color-primary-800: #140b43
    --color-primary-900: #0a0622

    /** Secondary color; like the text and maybe some icons **/
    --color-secondary-50: #fde7f1
    --color-secondary-100: #fad0e3
    --color-secondary-200: #f5a1c7
    --color-secondary-300: #f071ab
    --color-secondary-400: #eb428f
    --color-secondary-500: #e61373
    --color-secondary-600: #b80f5c
    --color-secondary-700: #8a0b45
    --color-secondary-800: #5c082e
    --color-secondary-900: #2e0417

    /** Used as a sub if another color is needed **/
    --color-ternary-50: #e7fdfa
    --color-ternary-100: #d0faf5
    --color-ternary-200: #a1f5eb
    --color-ternary-300: #71f0e0
    --color-ternary-400: #42ebd6
    --color-ternary-500: #13e6cc
    --color-ternary-600: #0fb8a3
    --color-ternary-700: #0b8a7a
    --color-ternary-800: #085c52
    --color-ternary-900: #042e29

    @apply dark:text-white

@layer base
    h1
        @apply text-4xl

@layer components
    .button
        @apply block border-b-4 transition-colors border-primary-700 bg-primary-400 hover:bg-secondary-400 hover:border-secondary-700 dark:bg-primary-600 text-white p-2 rounded-lg

        &:disabled
            @apply bg-gray-500 border-gray-700 hover:bg-gray-500 text-white

    .frame
        @apply dark:bg-primary-800 bg-primary-200 rounded-lg
